html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif; }
  #root .menu {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin: 20px; }
    #root .menu a {
      text-decoration: none;
      color: inherit;
      margin: 8px;
      padding: 8px;
      border: 1px solid white;
      border-radius: 1px;
      white-space: nowrap; }
      #root .menu a:hover, #root .menu a.active {
        border-color: black; }
  #root .main {
    width: 60%;
    height: 100%; }
