@import './_vars';

@mixin img-size {
    height: 75vw;
    width: 75vw;
    @include size-min-tablet{
        height: 45vh;
        width: 45vh;
    }
}

@mixin About {
    .about {
        display: flex;
        @include flex-direction(column);
        @include align-items(center);

        .img-wrapper {
            margin: $sizing-LG;
            @include img-size;

            img {
                @include img-size;
                object-fit: cover;
                border-radius: 50%;
                border: $sizing-2XS solid $pink;
            }
        }
    }
}
