@import './_vars';
@import './Footer';
@import './Router';

@mixin Base {
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        color: $black;
        background-color: $offWhite;
    }

    #root {
        min-height: 100%;
        display: flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(center);
        font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif;
        @include Router;

        .main {
            display: flex;
            @include justify-content(center);
            flex-grow: 1;
            height: 100%;
            width: 80%;
            @include animation-fadein(4s);
            @content;
        }

        @include Footer;
    }

}
