@import './_vars';
@import './Footer';

@mixin Base {

    $largeFont:22px;

    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #root {
        height: 100%;
        display: flex;
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(center);
        font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif;

        .menu {
            display: flex;
            @include justify-content(center);
            font-size: $largeFont;
            margin: 20px;

            a {
                text-decoration: none;
                color: inherit;
                margin: 8px;
                padding: 8px;
                border: 1px solid white;
                border-radius: 1px;
                white-space: nowrap;

                &:hover, &.active {
                    border-color: black;
                }
            }
        }

        .main {
            width: 60%;
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
               -moz-animation: fadein 2s; /* Firefox < 16 */
                -ms-animation: fadein 2s; /* Internet Explorer */
                 -o-animation: fadein 2s; /* Opera < 12.1 */
                    animation: fadein 2s;
            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }

            @content;
        }

        @include Footer;
    }

}
