@import './_vars';

@mixin Blog {
    .blog {
        padding: $sizing-MD;
        height: 100%;
        width: 100%;
        display: flex;
        padding-top: 100%;
        @include flex-direction(column);

        a {
            text-decoration: none;
            color: inherit;
            font-size: $font-size-XL;
            color: $emerald;
            text-transform: uppercase;

            &:hover, &:focus, &:active {
                color: $gold;
            }
        }
    }
}
