@import './_vars';

@mixin Blog {
    .blog {
        padding: $sizing-MD;
        display: flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        a {
            text-decoration: none;
            color: inherit;
            font-size: $font-size-XL;
            color: $emerald;
            text-transform: uppercase;

            &:hover, &:focus, &:active {
                color: $gold;
            }
        }
    }
}
