@mixin Contact {
    .contact {
        display: flex;
        @include flex-direction(column);
        @include align-items(center);

        ul {
            list-style: none;
            display: flex;
        }
    }
}
