@mixin Contact {
    .contact {
        padding: $sizing-MD;
        display: flex;
        @include flex-direction(column);
        @include align-items(center);
        @include justify-content(center);

        ul {
            list-style: none;
            display: flex;
        }
    }
}
