@import './_vars';

@mixin Footer {
    .footer {
        list-style: none;
        padding: 0;
        display: flex;
        @include justify-content(center);
        @include align-items(center);
        @include animation-fadein(1s);

        li {
            padding: $sizing-SM;

            a {
                display: flex;
                @include align-items(center);
                @include justify-content(center);
                border: $sizing-2XS solid $light-grey;
                border-radius: 50%;
                height: $sizing-2XL;
                width: $sizing-2XL;
                transition: transform 0.55s ease-in-out;
                padding: $sizing-XS;

                &:hover, &:active, &:focus {
                    transform: scale(1.15) rotate(360deg);
                    border-color: goldenrod;
                }
            }
        }
    }
}
