@import "~mathsass/dist/_math.scss";

$ringCount:10;
$size:0.25em;
$speed:3s;
$degStart:360deg;
$degEnd:0deg;

@mixin rotation {
    from {
        @include rotate($degStart);
    }
    to {
        @include rotate($degEnd);
    }
}

@mixin Home {
    .home {
        h1 {
            font-weight: 400;
            letter-spacing: 3px;
            margin: 0;
            position: absolute;
            top: 45%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $light-grey;
        }
        .ring {
            position: absolute;
            top: 45%;
            left: 50%;
            width: $size;
            height: $size;
            border-radius: 50%;
            opacity: 0.7;

            @for $i from 1 to $ringCount+1 {
                $dotCount: if($i == 1, 6, ($i+1)*4);
                $dotsList: ();

                @for $j from 0 to $dotCount {
                    $x: $j*$degStart/$dotCount;
                    $offsetX: $i*cos($x)*1em;
                    $offsetY: $i*sin($x)*1em;
                    $dotColor: if($j%2 == 0, if($j%4 == 0, $gold, $olive), if($j%3 == 0, $pink, $light-grey));
                    $dotsList: $dotsList, $offsetX $offsetY $dotColor;
                }

                &:nth-child(#{$i}) {
                    box-shadow: $dotsList;
                    animation: rot $i*$speed linear infinite;
                }
                @keyframes rot {
                    @include rotation;
                }
                /* Safari and Chrome */
                @-webkit-keyframes rot {
                    @include rotation;
                }
            }
        }

        @keyframes rot { to { transform: rotate(360deg); } }
    }
}
