@import './_vars';

@mixin Nav {
    nav {
        display: flex;
        @include flex-direction(column);
        font-size: $font-size-XS;
        font-weight: 500;
        padding: $sizing-MD;
        @include animation-fadein(1s);

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $off-white;
            margin: $sizing-XS;
            padding: $sizing-SM $sizing-XS;
            white-space: nowrap;
            position: relative;
            transition: transform 0.3s ease-in-out;
            background-color: $emerald;
            width: $sizing-6XL;
            height: $sizing-6XL;
            border-radius: 50%;
            opacity: 90%;
            display: flex;
            @include justify-content(center);
            @include align-items(center);
            transform: rotate(-12deg);

            &:after {
                content: "";
                bottom: 0;
                left: 0;
                width: 0;
                height: $sizing-2XS;
                position: absolute;
                background-color: $dark-grey;
                transition: width 0.5s ease, background-color 0.5s, color 1s;
                @include animation-fadein(3s);
            }
            &.active {
                color: $dark-grey;
                background-color: $pink;
                &:after {
                    width: 100%;
                    background-color: $soft-black;
                }
            }
            &:hover {
                color: $off-white;
                background-color: $light-grey;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
