@import './_vars';

@mixin Nav {
    nav {
        position: absolute;
        font-size: $font-size-XS;
        font-weight: 500;
        @include animation-fadein(1s);
        @include size-min-tablet {
            margin: $sizing-7XL;
        }

        /* Keyframes for the fade-in */
        @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $off-white;
            margin: $sizing-XS;
            padding: $sizing-SM $sizing-XS;
            white-space: nowrap;
            position: relative;
            background-color: $emerald;
            width: $sizing-6XL;
            height: $sizing-6XL;
            border-radius: 50%;
            opacity: 0.9;
            display: flex;
            @include justify-content(center);
            @include align-items(center);
            transform: rotate(-12deg);

            opacity:0;
            opacity: 1 \9; /*just in case ie*/
            -webkit-animation:fadeIn ease-in 1;
            -moz-animation:fadeIn ease-in 1;
            animation:fadeIn ease-in 1;

            -webkit-animation-fill-mode:forwards;
            -moz-animation-fill-mode:forwards;
            animation-fill-mode:forwards;

            -webkit-animation-duration:1s;
            -moz-animation-duration:1s;
            animation-duration:1s;

            &.home {
                -webkit-animation-delay: 0.1s;
                -moz-animation-delay: 0.1s;
                animation-delay: 0.1s;
            }
            &.about {
                -webkit-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s;
                animation-delay: 0.3s;
            }
            &.blog {
                -webkit-animation-delay: 0.5s;
                -moz-animation-delay: 0.5s;
                animation-delay: 0.5s;
            }
            &.projects {
                -webkit-animation-delay: 0.7s;
                -moz-animation-delay: 0.7s;
                animation-delay: 0.7s;
            }
            &.contact {
                -webkit-animation-delay: 0.9s;
                -moz-animation-delay: 0.9s;
                animation-delay: 0.9s;
            }
            &:after {
                content: "";
                bottom: 0;
                left: 0;
                width: 0;
                height: $sizing-2XS;
                position: absolute;
                background-color: $dark-grey;
                transition: width 0.5s ease, background-color 0.5s, color 1s;
                @include animation-fadein(3s);
            }
            &.active {
                color: $dark-grey;
                background-color: $pink;
                &:after {
                    width: 100%;
                    background-color: $soft-black;
                }
            }
            &:hover {
                color: $off-white;
                background-color: $light-grey;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
