@import './_vars';

@mixin Projects {
    .projects {
        padding: $sizing-MD;
        height: 100%;
        width: 100%;
        padding-top: 100%;
        display: flex;
        @include flex-direction(column);
        @include align-items(center);
    }
}
