html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

#root {
  height: 100%;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: space-between;
  -ms-box-pack: space-between;
  -webkit-box-pack: space-between;
  box-pack: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif; }
  #root .menu {
    display: flex;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 22px;
    margin: 20px; }
    #root .menu a {
      text-decoration: none;
      color: inherit;
      margin: 8px;
      padding: 8px;
      white-space: nowrap;
      position: relative;
      -webkit-animation: fadein 0.5s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 0.5s;
      /* Firefox < 16 */
      -ms-animation: fadein 0.5s;
      /* Internet Explorer */
      -o-animation: fadein 0.5s;
      /* Opera < 12.1 */
      animation: fadein 0.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #root .menu a:after {
        content: "";
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        position: absolute;
        background-color: lightGrey;
        transition: width 0.5s ease-out;
        -webkit-animation: fadein 3s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s;
        /* Firefox < 16 */
        -ms-animation: fadein 3s;
        /* Internet Explorer */
        -o-animation: fadein 3s;
        /* Opera < 12.1 */
        animation: fadein 3s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #root .menu a.active:after {
        background-color: black; }
      #root .menu a:hover:after {
        background-color: lightGrey; }
      #root .menu a:hover:after, #root .menu a.active:after {
        right: 0;
        left: auto;
        width: 100%; }
  #root .main {
    flex-grow: 1;
    width: 60%; }
  #root .footer {
    list-style: none;
    display: flex;
    padding: 0; }
    #root .footer li {
      padding: 10px; }
      #root .footer li a {
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -webkit-box-pack: center;
        box-pack: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        border: 5.656px solid lightGrey;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        transition: border-color .3s,transform .3s; }
        #root .footer li a:hover {
          transform: scale(1.125); }
