html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #323232;
  font-weight: 300;
  overflow: hidden; }

.diagonals {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  background-color: #fdfcef;
  overflow: hidden;
  z-index: -1; }
  .diagonals .diagonal-1 {
    position: absolute;
    height: 0;
    width: 200vw;
    bottom: 0;
    right: 5vw;
    border-bottom: 4px solid lightpink;
    transform-origin: bottom right;
    transform: rotate(5deg); }
  .diagonals .diagonal-2 {
    position: absolute;
    height: 0;
    width: 200vw;
    bottom: 0;
    left: 10vw;
    border-bottom: 1px solid goldenrod;
    transform-origin: bottom left;
    transform: rotate(-65deg); }
  .diagonals .diagonal-3 {
    position: absolute;
    height: 0;
    width: 200vw;
    bottom: 30vh;
    right: 0;
    border-bottom: 2px solid olivedrab;
    transform-origin: bottom right;
    transform: rotate(85deg); }
  .diagonals .diagonal-4 {
    position: absolute;
    height: 0;
    width: 200vw;
    top: 0;
    left: 10vw;
    border-bottom: 2px solid lightpink;
    transform-origin: top left;
    transform: rotate(45deg); }
  .diagonals .diagonal-5 {
    position: absolute;
    height: 0;
    width: 200vw;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid olivedrab;
    transform-origin: bottom right;
    transform: rotate(20deg); }

#root {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: space-between;
  -ms-box-pack: space-between;
  -webkit-box-pack: space-between;
  box-pack: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif; }
  #root .router {
    display: flex;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 40px 0; }
    #root .router a {
      text-decoration: none;
      color: grey;
      margin: 2px;
      padding: 8px 4px;
      white-space: nowrap;
      position: relative;
      transform: rotate(12deg);
      transition: transform 0.3s ease-in-out;
      background-color: #ececec;
      width: 64px;
      -webkit-animation: fadein 1s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 1s;
      /* Firefox < 16 */
      -ms-animation: fadein 1s;
      /* Internet Explorer */
      -o-animation: fadein 1s;
      /* Opera < 12.1 */
      animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #root .router a:after {
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        position: absolute;
        background-color: grey;
        transition: width 0.5s ease, background-color 0.5s, color 1s;
        -webkit-animation: fadein 3s;
        /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s;
        /* Firefox < 16 */
        -ms-animation: fadein 3s;
        /* Internet Explorer */
        -o-animation: fadein 3s;
        /* Opera < 12.1 */
        animation: fadein 3s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      #root .router a:hover:after {
        width: 100%; }
      #root .router a.active {
        color: #323232; }
        #root .router a.active:after {
          width: 100%;
          background-color: olivedrab; }
  #root .main {
    width: 100vw;
    padding: 0 10vw;
    display: flex;
    flex-grow: 1;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  #root .footer {
    list-style: none;
    padding: 0;
    display: flex;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    #root .footer li {
      padding: 8px; }
      #root .footer li a {
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -webkit-box-pack: center;
        box-pack: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        border: 2px solid silver;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        transition: transform 0.55s ease-in-out;
        padding: 4px; }
        @media (hover: hover) {
          #root .footer li a:hover {
            transform: scale(1.15) rotate(360deg);
            border-color: goldenrod; } }

.blogArticle {
  padding: 0 10vw; }
