html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

#root {
  height: 100%;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: space-between;
  -ms-box-pack: space-between;
  -webkit-box-pack: space-between;
  box-pack: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: Helvetica Neue,"nimbus-sans",Helvetica,Arial,sans-serif; }
  #root .menu {
    display: flex;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 22px;
    margin: 20px; }
    #root .menu a {
      text-decoration: none;
      color: inherit;
      margin: 8px;
      padding: 8px;
      border: 1px solid white;
      border-radius: 1px;
      white-space: nowrap; }
      #root .menu a:hover, #root .menu a.active {
        border-color: black; }
  #root .main {
    width: 60%; }
  #root .footer {
    list-style: none;
    display: flex;
    padding: 0; }
    #root .footer li {
      padding: 10px; }
      #root .footer li a {
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -webkit-box-pack: center;
        box-pack: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        background: #fcfcfc;
        border: 5.656px solid #E5E2E2;
        border-radius: 50%;
        color: #fcfcfc;
        height: 35px;
        width: 35px;
        transition: border-color .3s,transform .3s; }
        #root .footer li a:hover {
          transform: scale(1.125); }
