* {
  margin:0;
  padding:0;
}

html {
  overflow: hidden;

  body {
    overflow: hidden;
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
